body{
     background-color: #00334d;
     color:white;
}
h1{
     text-align:center;
     padding:3px;
     border-bottom: groove 2px  #1affff;
     width="300px"
}
main {
     margin:50px 20px 50px 20px;
}
a{
    color:#0000ff;
}
.kontte{
     font-size:18px;
}
.flexraspol{
     font-size:20px;
 }
.start{
      display:flex;
      justify-content:flex-start;
}
.enter{
      display:flex;
      justify-content:center;
 }
.end{
      display:flex;
      justify-content:flex-end;
}
.between{
      display:flex;
      justify-content: space-between;
 }
.kont{
      border:solid 3px  #cceeff;
      border-radius:10px;
      padding:10px;
}
.around{
      display:flex;
      justify-content: space-around;
}
.wrap{
      display:flex;
      justify-content: space-around;
      flex-wrap: wrap;
}
