.start{
      display:flex;
      justify-content:flex-start;
}
.enter{
      display:flex;
      justify-content:center;
 }
.end{
      display:flex;
      justify-content:flex-end;
}
.between{
      display:flex;
      justify-content: space-between;
 }
.kont{
      border:solid 3px darkblue;
      border-radius:10px;
      padding:10px;
}
.around{
      display:flex;
      justify-content: space-around;
}
